html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat',sans-serif;
    line-height: 1.2;
    
}

a{
    display: block;
    text-decoration: none;
    color: #000000;
}