.footer{
    width: 100%;
    -webkit-box-shadow: 0px 1px 1px 1px #999;
            box-shadow: 0px 1px 1px 1px #999;
}


.footer__content{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            
}
.footer__inside{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__subscribe{
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
    height: 40px;
    border: 1px solid rgb(209, 207, 207);
    margin: 10px 0;
    margin-left: 20px;
   
}
.footer__text{
    padding-left: 20px;
}
.footer__email{
    color: #ccc;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 230px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    border:none
    
    
}

.footer__span{
    color: #f6a1a1;
}
.footer__btn{
    width: 150px;
    height: 38px;
    border: none;
    color: #fff;
    background-color: #95e1d3;
    text-transform: uppercase;
    text-align: center;
    font-weight:700;
}

.footer__btn:hover{
    background-color: purple;
    -webkit-transform: rotate(360000000deg);
        -ms-transform: rotate(360000000deg);
            transform: rotate(360000000deg);
    -webkit-transition-duration: 5s;
         -o-transition-duration: 5s;
            transition-duration: 5s;
}