.services{
    padding-top: 50px;
    }
    
    
    .services__menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 20px;
    }
    .services__item{
        margin-right: -10px;
        margin-bottom: 80px;
    }
    .services__item::before{
        position: absolute;
        margin-top: 5px;
        margin-left: 40px;
       content: '';
       display: inline-block;
       width: 34px;
       height: 34px;
       background-repeat: no-repeat;
    }
    
    .services__item--alarm::before{
        background-image: url(../img/icons/1.svg);
    }
    .services__item--graph::before{
        background-image: url(../img/icons/2.svg);
    }
    .services__item--computer::before{
        background-image: url(../img/icons/computer.svg);
    }
    .services__item--book::before{
        background-image: url(../img/icons/4.svg);
    }
    .services__item--home::before{
        background-image: url(../img/icons/home.svg);
    }
    .services__item--sranb::before{
        background-image: url(../img/icons/image.svg);
    }
    
    .services__content{
        display: inline-block;
        margin-left: 102px;
        margin-right: 20px;
    }
    .services__name{
        display: block;
        margin-top: 4px;
        font-size: 14px;
        line-height: 1.2;
        color: #333333;
        font-family: "Montserrat";
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .univ__text{
        margin-top: 6px;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    }