@media (min-width:964px){
    .container{
        width: 944px;
    }
   
    .header-menu-list{
        width: 100%;
    }
    .partners{
        width: 944px;
    }

    .partners-list{
        flex-wrap: nowrap;
    }
  
}