html{
    box-sizing:border-box;
    }
    
    *,
    *::before,
    *::after{
    box-sizing: inherit;
    }

body{
    font-size: 14px; 
    font-weight: normal;
    font-style: normal;
}

.container{
    width: 900px;
    height: auto;
    margin: 0 auto;
}

.header{
    padding-top: 70px;
    padding-bottom: 102px;
}
.header-list{
    font-size: 0;
    text-align: center;
    font-weight: 400; 
}

.header-item{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    margin-right: 124px;
    font-size: 14px;
    
    
}

.header-item a{
    color: #626262;
    text-decoration: none;
    display: block;
   
}

.header-item a:hover,
.header-item a:focus{
   background-color: #f5f;
    
}
 
.header-item:last-child{
    margin-right: 0;
}


/* main */


.article:nth-child(odd){
    margin-right: 60px;
}
.article{
    display: inline-block;

}
.article:nth-last-of-type(-n+2){
    margin-bottom: 70px;

}

.article-box{
    box-sizing: border-box;
    width: 420px;
    margin-bottom: 136px;
}
.article-box::after{
    box-sizing:inherit;
}

.section{
    font-size: 0px;
}
.section-img{
margin-bottom: 30px;
}

.lifestyle{
    color:#b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 14px;
    
}
h2{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    margin-bottom: 42px;
}

.Lorem{
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #626262;
    



}

.button{
  
 
}
.loader{
    display: block;
    width: 164px;
    border:1px solid #626262;
    font-size: 20px;
    text-align: center; 
    min-height: 60px;
    background-color: #fff;
    color: #626262;
font-family: "Playfair Display";
font-weight: 400;


}
.loader:hover,
.loader:focus{
    background-color: #000;
    color: #fff;

}