body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1110px;
    height: auto;
    margin: 0 auto;
}

a{
    display: block;
}

.clearfix::after{
    display: table;
    content: '';
    clear:both;
}

.nav{
    padding: 38px 0;
    margin-bottom :72px; 
}

.nav__logo{
    float: left;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.nav__logo:first-letter{
    color: #1abc9c;
}

.nav__list{
    float: right;
    list-style: none;
    font-size: 14px; 
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 0;

}

.nav__item{
    float: left;
    margin-right: 34px;
}
/* type */
.nav__item:last-of-type{
    margin-right: 0px;
}

.nav__item-link:hover,
.nav__item-link:focus{
    color: #1abc9c;
}

.nav__item-link{
   display: block;
   text-decoration: none;
   color: #0f0101;
}

.nav__logo-link{
    display: block;
    text-decoration: none;
    color: rgb(85, 82, 82);
}

/* FEATURED PRODUCTS */

.title{
font-size: 48px;
font-weight: 900;
color: #515151;
text-align: center;
text-transform: uppercase;
margin-bottom: 92px;;
}

.title::after{
    content: '';
    display: block;
    width: 164px;
    height: 6px;
    background-color: #1abc9c;
    margin: 28px auto 0;
}

.section--products{
    margin-bottom: 72px;
}
.products__item{
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.products__item:hover .clothes,
.products__item:focus .clothes
{
    background-color: #1abc9c;
}

.products__item:hover .money,
.products__item:focus .money{
    background-color: #7fd9c7;
}

.products__item:nth-of-type(4n){
    margin-right: 0px;
}



.products__item--block { 
   width: 255px;
   height: 40px;

}

.clothes{
    float: left;
    width: 190px;
    height: 30px;
    color: #fff;
    background-color: #323232;
    font-size: 18px;
    font-weight: 900; 
    text-transform: uppercase;
    padding: 10px 0 0 10px;
 
}

.money{
    float: right;
    width: 45px;
    height: 30px;
    background-color: #8c8c8c; 
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px 0 0 10px;
    

}

/* LATEST NEWS 350 541 */

.news__item:not(:last-child){
    margin-right: 30px;
}

.news__item{
    float: left;
    width: 350px;
    font-family: 'Open Sans', sans-serif;
    color: #555252;
    line-height: 26px;
}


.news__img{
    margin-bottom: 12px;
}
.news__title{
    font-size: 18px;
    font-weight: 600;
    color: #555252;
}
.news__title::after{
    display: block;
    width: 136px;
    height: 3px;
    content: '';
    background-color: #1abc9c;
    margin: 14px 0 26px;    
}

.news__content{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
   

}

.read--more{
    display: inline-block;
    width: 160px;
    height: 41px;
    background-color: #4ec6ab;
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    border-radius: 5px; 
    padding-top: 10px; 
    
}
.read--more:hover{
    background-color: #fff;
    color: #4ec6ab;
}
